<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeMap</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeMap.styles.css" asp-append-version="true" />

    
</head>
<body class="bg-dark">
    <header class="bg-dark" style="border-bottom: 2px solid white;">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="w-100 d-flex align-items-center">
                    <a class="navbar-brand ms-3 d-flex " href="#">
                        <img src="img/memap.png" alt="IconMeMap" width="60" height="60">
                        <h1 class="text-white d-inline-block align-text-top fw-bold ms-2">MeMap</h1>
                    </a>
                    <form class="d-flex mx-auto ms-lg-5" role="search" style="width: 1000px;">
                        <input class="form-control" type="search" placeholder="Pesquise no MeMap" aria-label="Search" />
                        <button class="btn bi-search btn-outline-secondary border-white ms-0" type="submit">
                            
                        </button>
                    </form>
					<button class="navbar-toggler ms-auto d-flex " type="button"
							data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasNavbar"
							aria-controls="offcanvasNavbar">
						<span class="bi bi-list fs-1 text-white" aria-hidden="true"></span>
					</button>
					<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link text-white" href="#">Início</a></li>
								<li class="nav-item"><a class="nav-link text-white" href="#">Mapa</a></li>
								<li class="nav-item"><a class="nav-link text-white" href="#">Perfil</a></li>
							</ul>
						</div>
                </div>
            </div>
            
            </div>
        </nav>
    </header>
    <div class="container text-white">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - MeMap - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
