<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeMap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeMap.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-dark">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="w-100 d-flex align-items-center">
                    <a class="navbar-brand ms-2 d-flex align-items-center" href="#">
                        <img src="img/memap.png" alt="IconMeMap" width="60" height="60">
                        <h1 class="text-white d-inline-block align-text-top fw-bold ms-2">MeMap</h1>
                    </a>
                    <form class="d-flex mx-auto ms-lg-5" role="search" style="width: 900px;">
                        <input class="form-control" type="search" placeholder="Pesquise no MeMap" aria-label="Search" />
                        <button class="btn btn-outline-secondary border-white ms-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MeMap - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
